
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @userName %></h1>
    <p>
      Se le notifica que su tutor ha subido una revisión a su proyecto
      <%= @projectTitle %>, ingrese a la plataforma para consultar la revisión.<br>
    </p>    
  </body>
</html>