<h1>Reestablecer contraseña</h1>

<p>Para reestablecer su contraseña, ingrese al siguiente link:</p>

<%= link_to "Reestablecer contraseña", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Este link expirará en dos horas.</p>

<p>
Si no solicitó reestablecer su contraseña, ignore este email y su contraseña no 
será modificada.
</p>