<h2>UN Thesis</h2>
<h3>Initial test page</h3>

<pre>
	<%=steg = Cow.new({ :cow => 'stegosaurus' }); steg.say("Cállese biejo lesbiano.", 'think')%>
	<%=tux = Cow.new({ :cow => 'tux' }); tux.say("Que chimbita esto:3", 'think')%>
</pre>

<p>
  Time: <%= Time.now %>
</p>
