<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Asignación a proyecto <%= @project.title %> </h1>
    <p>
      Se le informa que ha sido asignado al projecto de tesis <%= @project.title %> con el rol de <%= @rol.name %>
    </p>
   
  </body>
</html>