
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a UNthesis, <%= @user.name %> <%= @user.surname %></h1>
    <p>
      Se ha creado correctamente su usuario,
      su contraseña es: <%= @password %>.<br>
    </p>
    <p>
      Cambie su contraseña al ingresar a la plataforma.
    </p>
  </body>
</html>