<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Hola <%= @user.name %></h3>

    <p>Te avisamos que tu evaluador de (proyecto) de tesis, <%= @emisor.name %> ha <%= @subject_choice == :created ? "created": "actualizado" %> su concepto. Revisalo ahora! ;)  </p>
    <br>
    <%= url_for(root_url, host: ) %>
</body>
</html>
